{% extends '@layout/default.html.twig' %}

{% block title %}Location{% endblock %}

{% block content %}
<div class="text-center">
    <img src="{{ asset('/logo.png') }}" height="100">
    <h1>
        GEO-6 API
    </h1>
</div>
<hr>

<div>
    <h2>
        <i class="fas fa-map-pin"></i>
        Location
    </h2>
    <h3 class="text-muted">Get information about a location</h3>
    <hr>
</div>

{% endblock %}
