{% extends '@layout/default.html.twig' %}

{% block title %}Geocode{% endblock %}

{% block content %}
<div class="text-center">
    <img src="{{ asset('/logo.png') }}" height="100">
    <h1>
        GEO-6 API
    </h1>
</div>
<hr>

<div>
    <h2>
        <i class="far fa-hospital"></i>
        Zone
    </h2>
    <h3 class="text-muted">Get administrative information and maps related to a municipality</h3>
    <hr>
</div>

{% endblock %}
